In [1]:
# SWAMI KARUPPASWAMI THUNNAI

In [20]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [3]:
dataset = pd.read_csv("bank-additional-full.csv", delimiter=";")

In [4]:
dataset.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [5]:
encoder = LabelEncoder()
scaler = StandardScaler()

In [6]:
X = dataset.iloc[:, :-1]
y = dataset.iloc[:, -1]

In [7]:
X.job = encoder.fit_transform(X.job)

In [8]:
X.marital = encoder.fit_transform(X.marital)

In [9]:
encode_list = ["education", "default", "housing", "loan", "contact", "month", "day_of_week", "duration", "poutcome"]
for i in encode_list:
    X[i] = encoder.fit_transform(X[i])

In [10]:
X.iloc[:, 10:11] = scaler.fit_transform(X.iloc[:, 10:11])

In [12]:
X.iloc[:, 12:13] = scaler.fit_transform(X.iloc[:, 12:13])

In [13]:
X

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,56,3,1,0,0,0,0,1,6,1,0.024759,1,0.195414,0,1,1.1,93.994,-36.4,4.857,5191.0
1,57,7,1,3,1,0,0,1,6,1,-0.444048,1,0.195414,0,1,1.1,93.994,-36.4,4.857,5191.0
2,37,7,1,3,0,2,0,1,6,1,-0.121743,1,0.195414,0,1,1.1,93.994,-36.4,4.857,5191.0
3,40,0,1,1,0,0,0,1,6,1,-0.435676,1,0.195414,0,1,1.1,93.994,-36.4,4.857,5191.0
4,56,7,1,3,0,0,2,1,6,1,0.217304,1,0.195414,0,1,1.1,93.994,-36.4,4.857,5191.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,5,1,5,0,2,0,0,7,0,0.330320,1,0.195414,0,1,-1.1,94.767,-50.8,1.028,4963.6
41184,46,1,1,5,0,0,0,0,7,0,0.535423,1,0.195414,0,1,-1.1,94.767,-50.8,1.028,4963.6
41185,56,5,1,6,0,2,0,0,7,0,-0.276617,2,0.195414,0,1,-1.1,94.767,-50.8,1.028,4963.6
41186,44,9,1,5,0,0,0,0,7,0,0.782384,1,0.195414,0,1,-1.1,94.767,-50.8,1.028,4963.6
41187,74,5,1,5,0,2,0,0,7,0,-0.067328,3,0.195414,1,0,-1.1,94.767,-50.8,1.028,4963.6

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [17]:
rfc = RandomForestClassifier()

In [18]:
rfc.fit(X_train, y_train)

C:\Users\abc\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [19]:
y_pred = rfc.predict(X_test)

In [21]:
accuracy_score(y_test, y_pred)

0.9095654285020636